body {
  background: lightcoral;
}

.app-header {
  background: lightgreen;
}

.search-result {
  background: lightgreen;
}

.today {
  background-color: lightsteelblue;
}

.next-days {
  background: pink;
}

.day {
  background-color: lightskyblue;
}
